<ion-menu side="start" menuId="custom" contentId="main" class="my-custom-menu">
  <ion-header>
    <ion-toolbar color="tertiary">
      <ion-title>Menu</ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-content>
    <ion-list>
      <ion-item (click)="navigateTo('Cuentas')">Cuentas</ion-item>
      <ion-item (click)="navigateTo('IAdicional')">Informacion adicional</ion-item>
      <ion-item (click)="navigateTo('TQR')">Transferencia con código QR</ion-item>
      <ion-item (click)="navigateTo('logout')">Cerrar sesión</ion-item>
    </ion-list>
  </ion-content>
</ion-menu>


<ion-content>
  <router-outlet id="main"></router-outlet>
</ion-content>