<ion-header [translucent]="true">
  <ion-toolbar class="new-background-color">
    <ion-buttons slot="start">
      <ion-button (click)="toggleMenu()">
        <ion-icon slot="icon-only" name="menu"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title class="header-center">
      Información adicional
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content fullscreen>

  <div class="spinner-center">
    <ion-spinner class="spinner-space" *ngIf="isLoading" name="crescent" color="secondary"></ion-spinner>
  </div>

  <div *ngIf="!isLoading" style="margin-top: 40px;">
    <ion-card *ngIf="ObjClima">
      <ion-card-header>
        <ion-card-title>Clima actual en : {{ObjClima.name}} </ion-card-title>
      </ion-card-header>
      <ion-card-content>

        <ion-row style="width: -webkit-fill-available;">
          <ion-col>
            <ion-label position="floating">
              Temperatura : {{+ObjClima.main.temp - 273.15 | number: '1.0-0'}} °C
            </ion-label>
            <br>
            <ion-label position="floating">
              Temperatura Maxima:{{+ObjClima.main.temp_max -273.15 | number: '1.0-0'}} °C
            </ion-label>
            <br>
            <ion-label position="floating">
              Temperatura Maxima:{{+ObjClima.main.temp_min -273.15 | number: '1.0-0'}} °C
            </ion-label>
          </ion-col>
          <ion-col style="text-align: center;">
              <img style="width: 60%; margin-bottom: -15px;" [src]="img_clima"><br>
              <ion-label position="floating">
                {{ObjClima.weather[0].main === 'Clouds' ? 'Nublado':'Soleado'}}
              </ion-label>
          </ion-col>
        </ion-row>
      </ion-card-content>
    </ion-card>
  </div>
</ion-content>