/*
 * App Global CSS
 * ----------------------------------------------------------------------------
 * Put style rules here that you want to apply globally. These styles are for
 * the entire app and not just one component. Additionally, this file can be
 * used as an entry point to import other CSS/Sass files to be included in the
 * output CSS.
 * For more information on global stylesheets, visit the documentation:
 * https://ionicframework.com/docs/layout/global-stylesheets
 */

/* Core CSS required for Ionic components to work properly */
@import "~@ionic/angular/css/core.css";

/* Basic CSS for apps built with Ionic */
@import "~@ionic/angular/css/normalize.css";
@import "~@ionic/angular/css/structure.css";
@import "~@ionic/angular/css/typography.css";
@import '~@ionic/angular/css/display.css';

/* Optional CSS utils that can be commented out */
@import "~@ionic/angular/css/padding.css";
@import "~@ionic/angular/css/float-elements.css";
@import "~@ionic/angular/css/text-alignment.css";
@import "~@ionic/angular/css/text-transformation.css";
@import "~@ionic/angular/css/flex-utils.css";


//cerrar sesion alert
.alert-fail-login {
    --max-width: 100vw !important;
    --backdrop-opacity: .6 !important;
    .alert-button-group {
        padding-top: 0px;
        padding-bottom: 0px;
        button {
            width: auto;
            font-size: 12px;
            color: #00A9E0;
            border: none;
            padding-top: 0px;
        }
    }
    .alert-wrapper {
        width: calc(100vw - 32px);
    }
    .alert-message {
        text-align: left;
        font-size: 16px;
        padding-top: 16px !important;
    }
    .alert-head {
        border-bottom: 1px solid #00A9E0;
        .alert-title {
            text-align: left;
            font-size: 16px;
            font-weight: 500;
        }
    }
  }


  .color-background{
    --background: #293c4e;
  }
  
  .new-background-color{
    --background: #67a5d2;
  }
  
  .login-content{
    height: 100%;
  width: 100%;
    }
  
  .display-img{
    width: 35%;
    height: 45%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  } 
  .display-center{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    bottom: 30px;
  }
  .form-login{
   // display: grid;
   // grid-template-rows: 5rem 7rem 6rem;
     ion-item{
       margin-bottom: 0.5rem;
     }
  
     ion-button{
      margin-top: 1.5rem
     }
  }
  
  
  .header-center{
    text-align: center;
    color: floralwhite;
    font-family: sans-serif;
  }
  
.spinner-center {
    display: flex;
    justify-content: center;
}

.spinner-space {
    height: calc(100vh - 113px);
    display: flex;
}

  